:root {
    --white: #FFF;
    --black: #000;
    --background-color: #2f3287;
    --font-color-base: rgb(85, 85, 85);
    --font-color-dark: #15171a;
    --font-color-light: #b0aebe;
    --font-color-light-blue: #2274f0;
    --font-color-link: #0278ff;
    --footer: #34314b;
    --footer-base: #2e2b45;
    --contrast: rgba(246, 248, 249, 0.6);
    --success: #64ecf5;
    --danger: #ff888d;
    --grad-1: #a1ecff;
    --grad-2: #7bdcff;

    --size-0-2: 0.0125rem;
    --size-0-6: 0.0375rem;
    --size-1: 0.0625rem;
    --size-2: 0.125rem;
    --size-3: 0.188rem;
    --size-4: 0.25rem;
    --size-5: 0.3125rem;
    --size-6: 0.375rem;
    --size-7: 0.4375rem;
    --size-8: 0.5rem;
    --size-9: 0.5625rem;
    --size-10: 0.625rem;
    --size-12: 0.75rem;
    --size-14: 0.825rem;
    --size-15: 0.9375rem;
    --size-16: 1rem;
    --size-17: 1.0625rem;
    --size-18: 1.125rem;
    --size-20: 1.25rem;
    --size-21: 1.3125rem;
    --size-22: 1.375rem;
    --size-24: 1.5rem;
    --size-25: 1.5625rem;
    --size-28: 1.75rem;
    --size-30: 1.875rem;
    --size-32: 2rem;
    --size-34: 2.125rem;
    --size-35: 2.1875rem;
    --size-36: 2.25rem;
    --size-38: 2.375rem;
    --size-40: 2.5rem;
    --size-42: 2.625rem;
    --size-48: 3rem;
    --size-50: 3.125rem;
    --size-55: 3.4375rem;
    --size-60: 3.75rem;
    --size-65: 4.0625rem;
    --size-70: 4.375rem;
    --size-75: 4.6875rem;
    --size-80: 5rem;
    --size-85: 5.3125rem;
    --size-90: 5.625rem;
    --size-95: 5.9375rem;
    --size-100: 6.25rem;
    --size-125: 7.8125rem;
    --size-150: 9.375rem;
    --size-155: 9.6875rem;
    --size-175: 10.9375rem;
    --size-200: 12.5rem;
    --size-250: 15.625rem;
    --size-275: 17.1875rem;
    --size-300: 18.75rem;
    --size-350: 21.875rem;
    --size-500: 31.25rem;
    --size-550: 34.375rem;
    --size-600: 37.5rem;
    --size-620: 38.75rem;
    --size-650: 40.625rem;
    --size-675: 42.1875rem;
    --size-700: 43.75rem;
    --siz-800: 50rem;
    --size-1200: 75rem;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.6;
    letter-spacing: 0;
    color: var(--font-color-base);
    margin: 0;
    padding: 0;
}

*,
::after,
::before {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-top: 0;
    color: var(--font-color-base);
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: var(--white);
    text-align: center;
    cursor: pointer;
    user-select: transparent;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.475rem 1.75rem;
    border-radius: 1.25rem;
    transition: ease-in-out 0.3s;
}


/*
.btn {
    display: inline-block;
    font-weight: 400;
    color: var(--white);
    text-align: center;
    cursor: pointer;
    user-select: transparent;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.475rem 1.75rem;
    border-radius: 1.25rem;
    transition: ease-in-out 0.3s;
}
*/

.btn-primary {
    background-image: linear-gradient(90deg, var(--grad-1) 0%, var(--grad-2) 100%);
    border: 1px solid var(--grad-1);
    box-shadow: 0 10px 20px rgba(161, 236, 255, 0.5);
    transition: ease-in-out 0.3s;
    color: var(--white);
    padding: 0.4375rem 1.5625rem;
}

.btn-white {
    background-color: var(--white);
    color: var(--font-color-link);
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.35);
    padding: 0.475rem 1.75rem;
}

@media (min-width: 768px) {
    .pricing-table,
    .testimonial-grid,
    .footer-bottom-wrapper { 
        max-width: 720px; 
    }

}

/*
@media (min-width: 992px) {
    footer .container {
        max-width: 960px;
    }

}
*/

@media (min-width: 1200px) {
    .container { 
        max-width: 1300px; 
    }
}

