/* Laptop & Screen Displays */

@media screen and (max-width: 1200px) {
  .contact-columns {
    flex-direction: column;
  }

  .hire-us {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .hire-us-right {
    height: 500px;
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }

  .hire-us-name,
  .hire-us-title,
  .hire-us-photos {
    display: flex;
  }

  .hire-us-left {
    padding-left: 50px;
  }

  .features {
    flex-direction: column;
  }

  .desktop-features {
    display: none;
  }

  .tablet-features {
    display: flex;
  }

  .features-video-heading h2 {
    text-align: center;
  }

  .features-video-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .form-privacy-policy {
    justify-content: flex-start;
  }

  .footer-contact {
    margin-top: -45px;
  }

  .footer-logo {
    margin-top: 100px;
  }

  .address p {
    width: 80%;
  }

}

@media screen and (max-width: 1023px) {
  .pricing-columns {
    flex-direction: column;
  }

  .price-display-top {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .price-display-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price-display-link-description {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hire-us-left {
    padding-left: 0;
  }


}

  /* Tablet Displays */

  @media screen and (max-width: 998px) {
    .banner {
      flex-direction: column;
    }

    .banner-left {
      text-align: center;
    }

    .banner-links {
      display: flex;
      justify-content: center;
    }

    .icon-imgs {
      animation: fade-up 3s ease-in-out;
      margin-left: 0;
    }
    
    
    @keyframes fade-up {
      0% {
          transform: translateY(300px);
          opacity: 0;
       }
    
       100% {
          transform: translateY(0);
          opacity: 1;
       }
    }
    
    #icon-img1 {
      position: relative;
      left: 550px;
      top: 150px;
      scale: 1;
    }
    
    #icon-img2 {
      position: relative;
      left: 330px;
      top: -50px;
      scale: 1.12;
    }
    
    #icon-img3 {
      position: relative;
      left: 405px;
      top: 100px;
      bottom: 0;
      scale: 1;
    }
    
    #icon-img4 {
      position: relative;
      left: 200px;
      top: 210px;
      scale: 0.9;
    }
  
    #icon-img5 {
      position: relative;
      left: 50px;
      top: -300px;
      scale: 0.8;
    }
    
    #icon-img6 {
      position: relative;
      left: 80px;
      top: -250px;
      scale: 1.11;
    }
    
    #icon-img7 {
      position: relative;
      left: 550px;
      bottom: 175px;
      scale: 1.12;
    }

    .worlds-best-heading {
      margin-top: 125px;
    }
    
    .worlds-best-image img {
      width: 100px;
      max-width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hr-1 {
      margin-bottom: 25px;
    }

    .price-display-link {
      margin: 15px 0;
    }

    .terms-list {
      margin-top: 60px;
    }
    
    .terms-list p {
      font-size: var(--size-18);
    }
    
    .terms-list a {
      font-size: var(--size-18);
    }

    .select-list {
      scale: 0.9;
    }
    
  }

  @media screen and (max-width: 768px) {
    [aria-controls="navbarDropdown"] {
      display: flex;
    } 

    [aria-expanded="false"] ~ .links {
      display: none;
    }

    [aria-expanded="true"] ~ .links {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: white;
      height: 200px;
      width: 100%;
    }

    .navbar-toggler {
      display: flex;
      position: fixed;
      background-color: white;
      color: black;
      z-index: 1000;
    }

    .logo {
      margin-top: 15px;
    }

    .links {
      margin-top: 75px;
      margin-bottom: 40px;
      position: absolute;
      top: 10px;
      align-items: center;
      justify-content: space-evenly;
      padding: 0 var(--size-100);
    }

    .buy-now-link {
      position: absolute;
      bottom: 0;
    }

    .terms-list {
      scale: 0.9;
    }

    .terms-list p {
      font-size: var(--size-16);
    }
    
    .terms-list a {
      font-size: var(--size-16);
    }
  }

  /* Phone Displays */

  @media screen and (max-width: 767px) {

    

    .section-heading {
      margin-top: 0;
    }

    .worlds-best-images {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .worlds-best-image {
      margin: auto;
      width: 100%;
      max-width: 100%;
    }

    .worlds-best-image img {
      width: 80%;
      max-width: 80%;
      margin: 50px auto;
    }

    .hire-us {
      display: flex;
      flex-direction: column;
    }

    .hire-us-left {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hire-us-right {
      display: flex;
      height: 100%;
      margin-bottom: 25px;
    }
  
    .hire-us-heading h1 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hire-us-description {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div.hr-line {
      width: 100%;
    }

    .hire-use-quote {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hire-us-name {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hire-us-title {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .hire-us-photos {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .footer-top {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0;
      flex-wrap: nowrap;
    }
  
    .footer-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 25px auto;
    }
  
    .footer-contact {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      flex-wrap: nowrap;
    }
  
    .footer-icon {
      scale: 0.8;
    }
  
    .footer-address {
      display: flex;
      align-items: baseline;
      justify-content: center;
      position: relative;
      left: 40px;
      width: 100%;
      max-width: 100%;
    }
  
    .address {
      width: 100%;
    }
  
    .navigate {
      padding: 0;
    }
    
    .footer-phone-number {
      display: flex;
      align-items: baseline;
      justify-content: center;
      position: relative;
      right: 15px;
    }
  
    .footer-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      margin: 0;
      gap: 0;
    }
  
    .footer-nav-list:nth-child(1) {
      margin-left: 0;
    }
  
    .footer-top-2 {
      display: flex;
      flex-direction: column;
    }
  
    .terms-list {
      margin: 25px auto -25px;
      padding: 0;
  
    }
  
    .select-list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
  }

@media screen and (max-width: 625px) {

  [aria-controls="navbarDropdown"] {
    display: flex;
  } 

  [aria-expanded="false"] ~ .links {
    display: none;
  }

  [aria-expanded="true"] ~ .links {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    height: 300px;
    width: 100%;
  }

  .navbar-toggler {
    display: flex;
    position: fixed;
    background-color: white;
    color: black;
    z-index: 1000;
  }

  .tablet-features {
    display: none;
  }

  .mobile-features {
    display: flex;
  }

  .logo {
    margin-top: 15px;
  }

  .links {
    margin-top: 75px;
    margin-bottom: 40px;
    position: absolute;
    top: 10px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 var(--size-100);
  }

  .buy-now-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    position: relative;
    left: 10px;
  }

  @keyframes fade-up {
    0% {
        transform: translateY(300px);
        opacity: 0;
     }
  
     100% {
        transform: translateY(0);
        opacity: 1;
     }
  }
  
  #icon-img1 {
    position: relative;
    left: 300px;
    top: 150px;
    scale: 0.7;
  }
  
  #icon-img2 {
    position: relative;
    left: 150px;
    top: -50px;
    scale: 0.712;
  }
  
  #icon-img3 {
    position: relative;
    left: 180px;
    top: 100px;
    bottom: 0;
    scale: 0.7;
  }
  
  #icon-img4 {
    position: relative;
    left: 50px;
    top: 110px;
    scale: 0.6;
  }

  #icon-img5 {
    position: relative;
    left: -25px;
    top: -300px;
    scale: 0.5;
  }
  
  #icon-img6 {
    position: relative;
    left: 5px;
    top: -250px;
    scale: 0.711;
  }
  
  #icon-img7 {
    position: relative;
    left: 300px;
    bottom: 175px;
    scale: 0.712;
  }

  .abstract-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    margin-bottom: 100px;
  }

  .abstract-logo img {
    scale: 2;
    margin-bottom: 25px;
  }

  .abstract-description p {
    text-align: center;
    margin: 25px auto;
  }

  .abstract-name {
    margin-top: 30px;
    scale: 1.5;
  }  

  .form-name,
  .form-contact,
  .form-select {
    flex-direction: column;
  }

  .input-right {
    margin-left: 0;
    margin-top: var(--size-20);
  }
}

@media screen and (max-width: 500px) {

  

  .dot-list {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100px;
  }
  
  .line {
    flex-direction: column;
    height: 70%;
    width: 1px;
    position: absolute;
    z-index: 4;
 }
  
  .circle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .words {
    display: flex;
    flex-direction: column;
    height: 500px;
  }

  .des {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: center;
    text-align: left;
    font-size: var(--size-24);
  }

  .why-front-section-info {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
  }
}



@media screen and (max-width: 420px) {
  #icon-img1 {
    position: relative;
    left: 200px;
    top: 150px;
    scale: 0.5;
  }
  
  #icon-img2 {
    position: relative;
    left: 100px;
    top: -50px;
    scale: 0.512;
  }
  
  #icon-img3 {
    position: relative;
    left: 100px;
    top: 0px;
    bottom: 0;
    scale: 0.5;
  }
  
  #icon-img4 {
    position: relative;
    left: 50px;
    top: 25px;
    scale: 0.4;
  }

  #icon-img5 {
    position: relative;
    left: -25px;
    top: -300px;
    scale: 0.5;
  }
  
  #icon-img6 {
    position: relative;
    left: 5px;
    top: -250px;
    scale: 0.511;
  }
  
  #icon-img7 {
    position: relative;
    left: 200px;
    bottom: 300px;
    scale: 0.512;
  }
}