/*
.top-section {
  background-image: url("https://wallpapers.com/images/hd/sleek-white-abstract-presentation-zyd2k4r18h2wayed.jpg");
  z-index: -5;
  position: relative;
}

.top-columns::before {
  background-image: linear-gradient(to bottom,rgba(87, 87, 255, 0.31) 0%,rgb(255, 255, 255) 100%);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -4;
}
*/

.navbar-toggler {
  position: absolute;
  right: var(--size-40);
  top: var(--size-40);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.navbar-toggler span {
  color: black;
  font-size: var(--size-30);
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.nav.sticky {
  background-color: var(--white);
  box-shadow: 0 0 20px rgba(48, 63, 100, 0.2);
  color: var(--font-color-dark);
}

.nav.sticky .navbar-toggler span,
.nav.sticky {
  color: var(--font-color-dark);
}

.nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
  z-index: 250;
  height: 100px;
}

.top-section {
  margin-bottom: 0;
}

.logo,
.links,
.link {
  display: flex;
  align-items: center;
}

.logo {
  width: var(--size-150);
  height: 100px;
  display: flex;
  justify-content: flex-start;
  margin-right: auto;
}

.links {
  display: flex;
  position: relative;
}

.link a {
  color: var(--font-color-base);
  font-size: var(--size-16);
  padding: 0 var(--size-8);
}

.buy-now-link a {
  background-color: var(--font-color-link);
  padding: var(--size-10) var(--size-20);
  color: var(--white);
  border-radius: var(--size-50);
  font-size: var(--size-14);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: var(--size-0-6);
  margin-left: -20px;
}

.buy-now-link a:hover {
  outline: 3px solid var(--font-color-link);
  background-color: white;
  color: var(--font-color-link);
}

.banner {
  display: flex;
  justify-content: space-between;
}

.banner-left {
  display: flex;
  flex-direction: column;
  padding: var(--size-125) 0;
}

.banner-left-heading h1  {
  font-size: clamp(var(--size-20), 8vw, var(--size-60));
  font-weight: 500;
  line-height: 1.08;
  color: var(--font-color-dark);
  margin-bottom: var(--size-8);
}

.banner-left-heading-description p {
    color: var(--font-color-base);
    font-size: var(--size-20);
    letter-spacing: var(--size-0-2);
    opacity: 0.8;
}

.banner-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.banner-link-left a {
    background-color: var(--font-color-link);
    padding: var(--size-16) var(--size-20);
    color: var(--white);
    border-radius: 50px;
    font-size: var(--size-16);
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: var(--size-0-6);
}

.banner-link-left a:hover {
  outline: 3px solid var(--font-color-link);
  background-color: white;
  color: var(--font-color-link);
}

.fa-circle-play {
  font-size: var(--size-21);
  display: inline-block;
  margin-right: var(--size-10);
  margin-bottom: var(--size-4);
}

.fa-circle-play:hover {
  color: var(--font-color-link);
  outline: solid white;
  border-radius: 50%;
  background-color: white;
}

.banner-link-right p a {
  color: var(--font-color-link);
  font-weight: 800;
  font-size: var(--size-20);
  display: inline-block;
  align-items: flex-start;
  padding-top: var(--size-18);
  padding-left: var(--size-10);
  margin-left: var(--size-24);
  cursor: pointer;
}

.banner-link-right p a:hover {
  text-decoration: underline;
} 

.icon-imgs {
  animation: fade-up 3s ease-in-out;
}

.icon-img {
  position: relative;
  display: flex;
  background-color: #fff;
  box-shadow: 0 0 10px grey;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: var(--size-100);
  height: var(--size-100);
}

@keyframes fade-up {
  0% {
      transform: translateY(300px);
      opacity: 0;
   }

   100% {
      transform: translateY(0);
      opacity: 1;
   }
}

#icon-img1 {
  position: relative;
  right: 30px;
  top: 100px;
  scale: 0.7;
}

#icon-img2 {
  position: relative;
  right: 255px;
  top: 50px;
  scale: 0.7;
}

#icon-img3 {
  position: relative;
  right: 345px;
  top: 90px;
  bottom: 0;
  scale: 1;
}

#icon-img4 {
  position: relative;
  right: 75px;
  top: -25px;
  scale: 0.9;
}

#icon-img5 {
  position: relative;
  right: 440px;
  top: 0;
  scale: 0.55;
}

#icon-img6 {
  position: relative;
  right: 175px;
  top: -50px;
  scale: 0.65;
}

#icon-img7 {
  position: relative;
  left: 0;
  right: 0;
  bottom: 75px;
  scale: 0.7;
}

.key-benefits-section {
  text-align: center;
  padding: var(--size-125) 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading {
  text-align: center;
}

.section-heading h1 {
  font-size: var(--size-42);
  color: var(--font-color-dark);
}

.section-heading p {
  color: var(--font-color-base);
  font-size: var(--size-25);
}

.key-benefits-section {
  margin-top: -125px;
}

.key-benefits-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));
  gap: var(--size-20);
  margin-bottom: var(--size-125);
}

.key-benefits-card {
  display: flex;
  flex-direction: column;
  text-align: left;
  box-shadow: var(--size-5) var(--size-10) var(--size-10) rgb(205, 205, 205);
  padding: var(--size-15);
}

.icon-svg {
  width: var(--size-80);
  height: var(--size-100);
}

.key-benefits-card h2 {
  color: var(--font-color-dark);
  font-size: var(--size-25);
}

.key-benefits-card p {
  color: var(--font-color-base);
  font-size: var(--size-22);
}

.learn-more-link p a {
  color: var(--font-color-link);
  font-weight: 800;
  font-size: var(--size-20);
  display: inline-block;
  cursor: pointer;
}

.learn-more-link p a:hover {
text-decoration: underline;
} 

.features-section {
  margin: 125px 0;
  max-width: 100%;
  width: 100%;
}

.features {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.features-video {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.tablet-features {
  display: none;
}

.mobile-features {
  display: none;
}

.features-video-heading h2 {
  font-size: clamp(var(--size-14), 8vw, var(--size-42));
  color: var(--font-color-dark);
  font-weight: 500;
  width: 100%;
  text-align: left;
}

.features-video-link a {
  background-color: var(--font-color-link);
  padding: var(--size-16) var(--size-20);
  color: var(--white);
  border-radius: var(--size-50);
  font-size: var(--size-16);
  cursor: pointer;
  font-weight: 400;
  letter-spacing: var(--size-0-6);
  display: flex;
  align-items: center;
  max-width: var(--size-155);
}

.features-video-link a:hover {
outline: var(--size-3) solid var(--font-color-link);
background-color: white;
color: var(--font-color-link);
}

.fa-circle-play {
font-size: var(--size-21);
display: inline-block;
}

.fa-circle-play:hover {
color: var(--font-color-link);
outline: solid white;
border-radius: 50%;
background-color: white;
}

.features-example {
  width: 100%;
}

.feature-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-img img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
}

.section-heading {
  margin: 125px 0;
}

.bullets {
  display: flex;
  justify-content: center;
}

.dot-list {
  position: relative;
  width: 100%;
  height: var(--size-60);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.line {
  height: var(--size-1);
  width: 70%;
  background-color: rgba(128, 128, 128, 0.228);
  position: absolute;
  z-index: 4;
}

.circle {
  height: var(--size-100);
  width: var(--size-100);
  background-color: rgba(229, 238, 252, 0.899);
  border-radius: 50%;
  border: var(--size-10) solid white;
  z-index: 5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: var(--size-9);
  height: var(--size-9);
  background-color: var(--font-color-light-blue);
  border-radius: 50%;
  position: absolute;
}

.word-list {
  display: flex;
  justify-content: center;
  margin-top: var(--size-30);
  text-align: center;
}

.words {
  position: relative;
  width: 100%;
  height: var(--size-40);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.des {
  height: var(--size-80);
  width: var(--size-100);
  z-index: 5;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--size-17);
}

.learn-more-section {
  margin: 125px 0;
}

.learn-more-banner {
  position: relative;
  max-width: 100%;
}

.learn-more-button {
  position: absolute;
  top: 50%;
  left: 50%;
}

.video-button {
  font-size: var(--size-100);
  background-color: var(--font-color-dark);
  color: #f9f9f9;
  border-radius: 50%;
  box-shadow: 0 var(--size-10) var(--size-20) #a7a7a799;
  border: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
}


.learn-more-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.abstract-photo {
  position: relative;
}

.abstract-dots {
  width: 45%;
  height: 75%;
  z-index: -10;
  transform: translate(0, 40%);
}

.abstract-profile-picture {
  height: 100%;
  width: 86%;
  z-index: 10;
  object-fit: cover;
  transform: translate(10%, -58%);
}

.abstract-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.abstract-logo {
  width: var(--size-150);
  margin-bottom: var(--size-20);
}

.abstract-description p {
  font-size: var(--size-32);
  color: var(--font-color-dark);
}

.abstract-name-heading h2 {
  font-size: var(--size-28);
  color: rgba(26, 26, 26, 0.899);
  margin: 0;
  padding: 0;
}

.abstract-title p {
  font-size: var(--size-22);
  font-weight: 600;
  color: rgba(85, 85, 85, 0.8);
}

.worlds-best-section {
  margin-top: -175px;
}

.worlds-best-content {
  display: flex;
  flex-direction: column;
}

.worlds-best-heading h3 {
  display: flex;
  justify-content: center;
  color: var(--font-color-base);
  font-size: var(--size-30);
  margin-bottom: var(--size-50);
}

.worlds-best-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.worlds-best-image img {
  height: var(--size-150);
  width: var(--size-175);
}

.pricing-columns {
  display: flex;
  justify-content: space-between;
  gap: var(--size-20);
}

.monthly-price-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1.5;
}

.monthly-price-display-card {
  box-shadow: 0 0 var(--size-10) #d0d0d0;
  height: 100%;
  width: 100%;
  flex: 1;
}

.pricing-section {
  margin-bottom: 125px;
}

.price-display-top {
  display: flex;
  align-items: baseline;
  padding: 0 var(--size-75);
}

.price-display-heading h1 {
  font-size: var(--size-80);
  color: var(--font-color-dark);
  font-weight: 400;
}

.price-display-subheading p {
  font-size: var(--size-28);
  color: rgba(85, 85, 85, 0.8);
}

hr.hr-1 {
  margin-top: -80px;
}

.price-display-bottom {
  padding: var(--size-40) var(--size-65);
}

.price-display-description p {
  font-size: var(--size-24);
  color: rgba(85, 85, 85, 0.8);
}

.price-display-link a {
  background-color: var(--font-color-link);
  padding: var(--size-16) var(--size-20);
  color: var(--white);
  border-radius: var(--size-50);
  font-size: var(--size-16);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: var(--size-0-6);
  max-width: var(--size-155);
}

.price-display-link a:hover {
  outline: var(--size-3) solid var(--font-color-link);
  background-color: white;
  color: var(--font-color-link);
}

.price-display-link-description p {
  color: rgba(85, 85, 85, 0.8);
  font-size: var(--size-18);
  margin-top: var(--size-15);
}

.grid-product-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
  flex: 2;
  gap: var(--size-20);
}

.pricing-image img {
  width: var(--size-60);
  height: var(--size-60);    
}

.pricing-heading h1 {
  color: var(--font-color-dark);
  font-size: var(--size-28);
  display: inline-block;
}

.pricing-description p {
  color: var(--font-color-base);
  font-size: var(--size-22);
  padding-right: var(--size-50);
}

.pricing-heading {
  display: flex;
  align-items: center;
}

span.sketch {
  font-size: var(--size-18);
  color: var(--white);
  background-color: rgb(52, 211, 164);
  border-radius: var(--size-50);
  padding: 0 var(--size-15);
  margin-top:var(--size-10);
  margin-left: var(--size-15);
  display: inline-block;
}

.form-section-top {
  margin-bottom: 125px;
}

.form-section {
  background-color: rgb(17, 20, 87);
}

.contact-columns {
  display: flex;
  justify-content: space-evenly;
}

.hire-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hire-us-left,
.hire-us-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 100px;
}

.hire-us-heading,
.hire-us-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hire-us-heading h1 {
  font-size: var(--size-50);
  color: var(--white);
  margin-bottom: 0;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.hire-us-description p {
  color: #9d9d9d9c;
  font-size: var(--size-24);
  margin-top: 0;
  margin-bottom: 50px;
}

.hr-line {
  height: 2px;
  width: 250px;
  background-color: white;
}

.hire-use-quote p {
  color: var(--white);
  font-size: var(--size-24);
  font-style: italic;
  margin-top: var(--size-50);
  max-width: 70%;
}

.hire-us-name h1 {
  color: var(--white);
  font-size: var(--size-28);
  letter-spacing: var(--size-1);
  font-weight: 600;
  margin-bottom: 0;
}

.hire-us-title p {
  color: #9d9d9d9c;
  font-size: var(--size-24);
  margin-top: -8px;
  margin-bottom: var(--size-75);
}

.hire-us-photos {
  display: flex;
  gap: var(--size-20);
}

.hire-us-picture img {
  width: var(--size-70);
  height: var(--size-70);
  border-radius: 50%;
}

.contact-form {
  padding: var(--size-15);
}

.inner-contact-form {
  background-color: white;
  padding: var(--size-15);
  border-radius: var(--size-10);
  margin: 15px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-name,
.form-contact,
.form-select {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

div.form-input {
  width: 100%;
}

div.form-text-area {
  width: 100%;
}

.input {
  height: var(--size-50);
  width: 100%;
  font-size: var(--size-18);
}

.input-right {
  margin-left: var(--size-20);
}

#tell-us {
  resize: none;
  height: var(--size-200);
  font-family: sans-serif;
  width: 100%;
  font-size: var(--size-18);
}

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: var(--size-22);
  user-select: none;
  padding: 0 0 0 var(--size-35);
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: var(--size-22);
  width: var(--size-22);
  background-color: transparent;
  margin-top: var(--size-5);
  border: var(--size-1) solid;
  border-radius: var(--size-3);
}

.checkbox:hover input ~ .checkmark {
  background-color: #f4f4f4;
}

.checkbox input:checked ~ .checkmark {
  background-color: var(--font-color-link);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: var(--size-7);
  top: var(--size-4);
  width: var(--size-5);
  height: var(--size-10);
  border: solid white;
  border-width: 0 var(--size-2) var(--size-2) 0;
  transform: rotate(45deg);
}

.form-check-yes p {
  color: rgba( 85, 85, 85, 0.8);
}

.form-privacy-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-20);

}

.privacy-policy-link {
  font-size: var(--size-16);
  color: var(--font-color-base);
  font-weight: 600;
  background-image: linear-gradient(to right, var(--font-color-base) 33%, transparent 0%);
  background-position: bottom;
  background-size: var(--size-10) var(--size-1);
  background-repeat: repeat-x;
}

.link-2 {
  color: var(--font-color-link);
  background-image: linear-gradient(to right, var(--font-color-link) 33%, transparent 0%);
  background-position: bottom;
  background-size: var(--size-10) var(--size-1);
  background-repeat: repeat-x;
}

.form-submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--size-25) 0;
}

#submit {
  background-color: var(--font-color-link);
  padding: var(--size-20) var(--size-34);
  border: none;
  border-radius: var(--size-50);
  color: var(--white);
  font-size: var(--size-18);
  letter-spacing: 1.8;
  cursor: pointer;
}

#submit:hover {
  outline: var(--size-3) solid var(--font-color-link);
  background-color: white;
  color: var(--font-color-link);
}

.footer-top {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
  bottom: 20px;
}

.footer-logo img {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 125px;
  margin-bottom: 20px;
}

.footer-address {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.navigate {
  padding-right: 15px;
  font-size: var(--size-20);
}

.address {
  font-size: var(--size-20);
  color: var(--font-color-base);
}

.footer-phone-number {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: -8px;
}

.call {
  padding-right: 15px;
  font-size: var(--size-20);
}

.phone-call a {
  font-size: var(--size-20);
  color: var(--font-color-link);
}

.footer-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 80px;
}

.footer-nav-list:nth-child(1) {
  margin-left: -50px;
}

.footer-nav-list {
  margin: 0;
}

.footer-nav-heading h1 {
  color: var(--font-color-dark);
  font-size: var(--size-28);
}

.footer-nav-item a {
  font-size: var(--size-20);
  color: var(--font-color-base);
}

.footer-nav-item a:hover {
  color: var(--font-color-link);
}

.resource-icon {
  padding-right: 10px;
}

.footer-top-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.terms-list {
  display: flex;
  margin-right: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
}

.terms-list p {
  display: block;
  color: rgba( 85, 85, 85, 0.8);
  font-size: var(--size-20);
  padding-top: 1px;
}

.terms-list a {
  color: rgba( 85, 85, 85, 0.8);
  font-size: var(--size-20);
  display: block;
}

.terms-list a:hover {
  color: var(--font-color-link);
}

.select-list {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: 50px;
  align-items: flex-start;
}

.social-list {
  display: flex;
  gap: 20px;
}

.social-icon {
  background-color: #f9f6f6;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color-base);
  border: none;
  border-radius: 4px;
  font-size: var(--size-20);
}

.social-icon:hover {
  color: #f9f6f6;
  background-color: var(--font-color-base);
  cursor: pointer;
}

.country-list {
  display: flex;
  justify-content: flex-end;
}

#country-2 {
  height: 40px;
  width: 180px;
  padding: 0 10px;
  cursor: pointer;
  background-color: #f9f6f6;
  border: none;
  border-radius: 4px;
  font-size: var(--size-17);
}

#country-2:hover {
  background-color: rgba(85, 85, 85, 0.1);
}

.footer-mid p {
  text-align: center;
  font-size: var(--size-20);
  color: rgba(85, 85, 85, 0.8);
  margin-top: 50px;
  margin-bottom: 25px;
}

.footer-end {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-end p {
  text-align: center;
  width: 100%;
  font-size: var(--size-20);
  color: rgba(85, 85, 85, 0.8);
  margin-bottom: 25px;
}

#home:active,
#features:active,
#learn:active,
#pricing:active,
#hire-us:active {
  color: var(--font-color-link);
}
